# rbs_inline: enabled
require_relative "value"

module Wardite
  module Evaluator
    # @rbs runtime: Runtime
    # @rbs frame: Frame
    # @rbs code: Symbol
    # @rbs operand: Array[operandItem]
    # @rbs return: bool?
    def self.${PREFIX}_eval_insn(runtime, frame, code, operand)
      case code
${DEFS}
      else
        return
      end
      return true
    end
  end
end